body {
    background-color: black;
    font-family: 'Vollkorn', serif;
}

.main_div {
    background: red;
    display: inline-block;
}

.question_box {
    border: 2px solid white;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 25em;
}

.btn btn-primary {
    background-color: transparent;
    color: white;
    border: 1px gray;
}

#submit1 submit2 {
    display: none;
}

.answer1 {
    border: 5px solid white;
}

.answer2 {
    border: 5px solid white;
}

.card {
    background-color: green;
}

.score {
    background-color: white;
}

.levels {
    background-color: gray;
}