body {
    background-color: black;
    font-family: 'Vollkorn', serif;
}

.container {
    background: red;
    display: inline-block;
    margin: 5em;
}

.question_box {
    border: 2px solid white;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 25em;
    margin: 0 0 0 15px;
}

#option1 {
    margin: 0 0 0 15px;
}

.btn btn-primary {
    background-color: transparent;
    color: white;
    border: 1px gray;
}

.btn btn-outline-light {

}

.card {
    background-color: green;
    margin: 100px 0 0 45px;
}

.score {
    background-color: white;
}

.levels {
    background-color: gray;
}