/* primary color: #f9a825
light color: #ffd95a
dark color: #c17900 */

body {
    background: #000000;
    font-family: 'Vollkorn', serif;
    position: fixed center;
}

.container {
    background: #000000 url('images/beerfoam.gif') fixed;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    align-items: fixed center;
    position: fixed center;
    color: #ffd95a;
}

#question_box {
    margin: 5em -15em;
    border: #f9a825 1px solid;
    padding: 0px;
    position: fixed;
}

.question_box {
    margin: 10em;
    color: #ffd95a;
}

#timerdiv {
    display: left;
    color: #ffd95a;    
}

#score-time {
    display: inline-block;
    text-align: center;
    margin: 40em 0 10em;
    /* float: left; */
    color: #ffd95a;
    /* width: 25%;
    height: 50%; */
    position: fixed left;
}

#numbers {
    margin: 17em;
    border: #f9a825 1px solid;
    padding: 0px;
    color: #ffd95a;
}

#answer {
    background-color: #c17900;
    text-align: center;
    color: #FFFFFF;
    margin: 12em 25em 20em 0em;
    position: fixed;
}

#gamerules {
    text-align: center;
    color: #FFFFFF;
    margin: 10em 8em 20em 12em;
    background-color:#c17900;
    position: fixed center;
}

.btn btn-outline-light {
    border: #f9a825 1px solid;
}